@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

$font-stack: 'Lato', sans-serif;
$heroFont: 'Satisfy';
$navBgColor: #2e2e2e;
$navFontColor: #fff;
$navFontHoverColor: #dadada;
$cardShadow: #949494;
$cardDropdownBg: #f5f5f5;
$texthoverColor: #8b8b8b;
$successColor: #abf1ab;