@use './variables';

.event-details {
    width: 80%;
    .image-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        img {
            width: 48%;
            margin-bottom: 2rem;
            border-radius: 0.1rem;
            transition: all ease 150ms;
        }
        p {
            text-align: center;
            font-size: 1rem;
            font-weight: 200;
        }
    }
    .text-container {
        margin-bottom: 3rem;
        h3 {
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        i {
            font-weight: 400;
            font-size: 1.4rem;
        }
        p {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }
    }
}